---
import CTAReactForm from "./CTAReactForm.tsx";
---

<div class="p-4 mt-12 xl:mt-0">
  <div
    class="border-border border p-4 max-w-4xl md:m-auto rounded bg-white/60 shadow"
  >
    <h5 class="font-medium md:text-2xl text-center">
      Grab your <span class="text-primary">FREE</span> RFP review checklist
      here- just enter your email below!
    </h5>
    <CTAReactForm client:load />
  </div>
</div>
