---
import "@/styles/globals.css";
import MainLayout from "@/components/layouts/main-layout.astro";
---

<MainLayout title="Government Agencies - Boules Consulting">
  <main>
    <p>Services Page: GA</p>
  </main>
</MainLayout>
