---
import "@/styles/globals.css";
import MainLayout from "@/components/layouts/main-layout.astro";
import { contentfulClient } from "../../lib/contentful";
import type { TypeServicesPageSkeleton } from "@/types/contentful";
import ServicesLayout from "./_components/services_layout.astro";

return Astro.redirect("/services");

const sePage =
  await contentfulClient.withoutUnresolvableLinks.getEntry<TypeServicesPageSkeleton>(
    "63IiHPmtm6FQm5l2i9aDQr",
  );
---

<MainLayout title="Social Enterprises - Boules Consulting">
  <main>
    <ServicesLayout data={sePage} />
  </main>
</MainLayout>
