---
import "@/styles/globals.css";
import MainLayout from "@/components/layouts/main-layout.astro";
---

<MainLayout title="Social Enterprises - Boules Consulting">
  <main>
    <p>Services Page: SE</p>
  </main>
</MainLayout>
