<div class="py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <dl class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-3">
      <div class="mx-auto flex max-w-xs flex-col gap-y-4">
        <dt class="text-base/7 text-gray-600">
          Government, corporate, and philanthropic partners
        </dt>
        <dd
          class="order-first text-3xl font-semibold tracking-tight text-primary sm:text-5xl"
        >
          65 Plus
        </dd>
      </div>
      <div class="mx-auto flex max-w-xs flex-col gap-y-4">
        <dt class="text-base/7 text-gray-600">Raised in grant funding</dt>
        <dd
          class="order-first text-3xl font-semibold tracking-tight text-primary sm:text-5xl"
        >
          $85 Million
        </dd>
      </div>
      <div class="mx-auto flex max-w-xs flex-col gap-y-4">
        <dt class="text-base/7 text-gray-600">
          Projects completed on time and on budget
        </dt>
        <dd
          class="order-first text-3xl font-semibold tracking-tight text-primary sm:text-5xl"
        >
          100%
        </dd>
      </div>
    </dl>
  </div>
</div>
