---
import type { Entry } from "contentful";
import type { TypeServicesPageSkeleton } from "@/types/contentful";

interface Props {
  data: Entry<TypeServicesPageSkeleton, "WITHOUT_UNRESOLVABLE_LINKS", string>;
}

const { data } = Astro.props;
---

<div>
  <h1>{data.fields.servicesBanner?.fields.heading}</h1>
  <pre
    class="overflow-x-clip">
      {JSON.stringify(data.fields, null, 2)} 
  </pre>
</div>
