---
import type { Entry } from "contentful";
import type { TypeTextAndImageSkeleton } from "../../types/contentful";
import { Image } from "astro:assets";

interface Props {
  belowHero:
    | Entry<TypeTextAndImageSkeleton, "WITHOUT_UNRESOLVABLE_LINKS", string>
    | undefined;
}

const { belowHero } = Astro.props;
const dimensions = belowHero?.fields.image?.fields.file?.details.image;
---

<section
  class="max-w-screen-lg m-auto mt-4 py-4 px-4 relative min-h-[22rem] lg:mt-0 md:min-h-[28rem] lg:min-h-[40rem] flex justify-end items-center"
>
  <div class="w-2/3 md:w-1/2">
    <h1 class="text-2xl md:text-4xl font-medium pb-4">
      {belowHero?.fields.title}
    </h1>
    <p class="md:text-lg font-light">{belowHero?.fields.text}</p>
  </div>
  <Image
    class="below_hero_mask sm:w-3/4 md:w-2/3 absolute -left-20 sm:-left-24 md:left-4 top-1/2 -translate-y-1/2 -z-10"
    width={dimensions?.width ?? 850}
    height={dimensions?.height ?? 600}
    src={belowHero?.fields.image?.fields.file?.url ?? ""}
    alt={belowHero?.fields.image?.fields?.title ?? ""}
  />
  <div
    class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 -z-20 w-96 h-60 gradient spin-sprite rounded-[900px] opacity-40 blur-2xl"
  >
  </div>
</section>

<style>
  .below_hero_mask {
    mask: url("../../assets/shapes/below_hero.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
  }
  .gradient {
    background: var(--bc-gradient);
  }
  .spin-sprite {
    animation: spin-sprite 17s linear infinite;
  }

  @keyframes spin-sprite {
    20% {
      transform: translate(-65%, -40%) rotate(72deg);
    }
    40% {
      transform: translate(-70%, -27%) rotate(144deg);
    }
    60% {
      transform: translate(-70%, -35%) rotate(216deg);
    }
    80% {
      transform: translate(-60%, -43%) rotate(288deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
</style>
