---
import type { Entry } from "contentful";
import type { TypeBannerSkeleton } from "@/types/contentful";
import HeroTriangle from "../../assets/shapes/hero_triangle.svg";
import { Image } from "astro:assets";

interface Props {
  banner:
    | Entry<TypeBannerSkeleton, "WITHOUT_UNRESOLVABLE_LINKS", string>
    | undefined;
}

const { banner } = Astro.props;
---

<section class="w-full relative overflow-x-clip">
  <Image
    alt="background triangle on hero"
    class="-z-10 max-w-screen-2xl absolute top-0 left-1/2 w-screen m-auto min-w-[550px] md:translate-y-0 lg:-translate-y-4 -translate-x-1/2"
    src={HeroTriangle}
  />

  <div
    class="h-min w-full max-w-screen-2xl sm:p-8 md:p-16 m-auto flex flex-col md:flex-row rounded justify-end"
  >
    <div
      class="w-full lg:w-3/4 max-w-5xl lg:h-[500px] xl:h-[600px] bg-slate-300 sm:rounded shadow-lg relative"
    >
      <Image
        alt="Home Hero Image"
        width={1600}
        height={900}
        class="w-full h-full object-cover sm:rounded"
        src={banner?.fields.backgroundImage?.fields.file?.url ?? ""}
      />
      <div
        class="absolute lg:relative lg:top-0 lg:left-0 lg:-translate-x-0 lg:-translate-y-0 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-20"
      >
        <h1
          class="font-medium text-xl sm:text-3xl text-center lg:text-4xl xl:text-5xl 2xl:text-6xl lg:absolute lg:top-[calc(10vw-30rem)] xl:top-[calc(10vw-36rem)] 2xl:-top-[27rem] lg:-left-[14rem] xl:-left-[19rem] 2xl:-left-[24rem] md:w-0"
        >
          {banner?.fields.heading}
        </h1>
        <h4
          class="text-center italic font-light pt-2 sm:text-lg lg:absolute lg:text-2xl lg:w-56 lg:text-left lg:right-[24vw] xl:right-[28vw] 2xl:right-[485px] lg:top-4"
        >
          {banner?.fields.subHeader}
        </h4>
      </div>

      <div
        class="absolute w-full h-full top-0 left-0 bg-secondary/75 lg:bg-secondary/0 shadow-inner z-10 sm:rounded"
      >
      </div>
    </div>
  </div>
</section>
