---
import type { Entry } from "contentful";
import type { TypeBannerSkeleton } from "@/types/contentful";
import HeroTriangle from "../../assets/shapes/hero_triangle.svg";
import { Image } from "astro:assets";

interface Props {
  banner:
    | Entry<TypeBannerSkeleton, "WITHOUT_UNRESOLVABLE_LINKS", string>
    | undefined;
}

const { banner } = Astro.props;
---

<div class="w-screen relative bg-red-100 w-screen">
  <Image
    alt="background triangle on hero"
    class="-z-10 max-w-[120rem] absolute top-0 left-1/2 w-full m-auto -translate-x-[50.5%]"
    src={HeroTriangle}
  />
  <!-- <Image -->
  <!--   alt="Home Hero Image" -->
  <!--   width={1600} -->
  <!--   height={900} -->
  <!--   class="w-1/2 rounded shadow absolute right-12 top-24" -->
  <!--   src={banner?.fields.backgroundImage?.fields.file?.url ?? ""} -->
  <!-- /> -->

  <div class="w-1/2 max-w-5xl h-[300px] lg:h-[500px] xl:h-[600px] bg-slate-300 rounded absolute top-24 right-1/2 translate-x-[74%]">
</div>
