---
import ArrowImage from '../../assets/shapes/arrow_ppp.svg'
import {Image} from 'astro:assets'

---

<section class="max-w-screen-lg py-10 md:py-24 px-4 m-auto">
  <div class="md:flex justify-between">
    <h1 class="text-xl md:text-4xl text-lin font-medium md:whitespace-nowrap mr-16 leading-loose">How We Help</h1>
    <p class='text-sm md:text-[1rem]'>
      Our practice of  Prepare, Plan, Propel(™) guides agencies beyond mere
      competition for funding to yield truly sustainable and scalable impact.
    </p>
  </div>
  <div class='gap-4 py-8 w-[90%] m-auto bg-red-200 relative'>
    <Image alt='Arrow SVG' src={ArrowImage} />
    <div class='polygon px-16 flex items-center h-24 bg-blue-200 absolute bottom-8 left-8 w-[calc(100%-2rem)]'>
      <p>hello</p>
    </div>
    <div class='polygon px-16 flex items-center h-24 bg-blue-200 absolute bottom-36 left-24 w-[calc(100%-6rem)]'>
      <p>world</p>
    </div>
</section>

<style>
  .polygon {
    clip-path: polygon(100% 0%, 100% 100%, 0 100%, 3.6rem 0) 
  }
</style>
