---
import MainHeader from "./header";
import LogoImage from "../../assets/logos/Boules-Consulting-Logo.svg";
import { Image } from "astro:assets";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <MainHeader>
      <div class="flex items-center">
        <Image src={LogoImage} class="h-12" alt="Boules Consulting Logo" />
        <h1 class="font-medium text-xl text-primary">Boules Consulting</h1>
      </div>
    </MainHeader>
    <slot />
  </body>
</html>
