---
import "@/styles/globals.css"
import MainLayout from "@/components/layouts/main-layout.astro";
---

<MainLayout title="About Us - Boules Consulting" >
  <main>
    <p>About Us</p>
  </main> 
</MainLayout>
