---
import "@/styles/globals.css";
import MainLayout from "@/components/layouts/main-layout.astro";
---

<MainLayout title="Contact - Boules Consulting">
  <main>
    <p>Contact</p>
  </main>
</MainLayout>
