---
import "@/styles/globals.css";
import { contentfulClient } from "../lib/contentful";
import type { TypeHomePageSkeleton } from "../types/contentful";
import { Button } from "@/components/ui/button";

const homePage =
  await contentfulClient.withoutUnresolvableLinks.getEntries<TypeHomePageSkeleton>(
    {
      content_type: "homePage",
    },
  );
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Boules Consulting</title>
  </head>
  <body>
    <Button>Hello Butt</Button>
    <pre>
      {JSON.stringify(homePage.items[0],
       null,
        2)}
    </pre>
    <div>
      {JSON.stringify(homePage.items, null, 2)}
    </div>
  </body>
</html>
