---
import "@/styles/globals.css";
import { contentfulClient } from "../lib/contentful";
import type { TypeHomePageSkeleton } from "../types/contentful";
import { Button } from "@/components/ui/button";
import MainLayout from "@/components/layouts/main-layout.astro";

const homePage =
  await contentfulClient.withoutUnresolvableLinks.getEntries<TypeHomePageSkeleton>(
    {
      content_type: "homePage",
    },
  );
---

<MainLayout title="Boules Consulting">
  <main>
    <Button>Hello Butt</Button>
    <p>Poppins is fun</p>
    <pre>
        {JSON.stringify(homePage.items[0], null, 2)}
    </pre>
  </main>
</MainLayout>
