---
import "@/styles/globals.css";
import { contentfulClient } from "../lib/contentful";
import type { TypeHomePageSkeleton } from "../types/contentful";
import MainLayout from "@/components/layouts/main-layout.astro";

const homePage =
  await contentfulClient.withoutUnresolvableLinks.getEntries<TypeHomePageSkeleton>(
    {
      content_type: "homePage",
    },
  );
---

<MainLayout title="Home - Boules Consulting">
  <main class="overflow-x-hidden">
    <pre>
        {JSON.stringify(homePage.items[0], null, 2)}
    </pre>
  </main>
</MainLayout>
