---
import "@/styles/globals.css";
import { contentfulClient } from "../lib/contentful";
import type { TypeHomePageSkeleton } from "../types/contentful";
import MainLayout from "@/components/layouts/main-layout.astro";
import Hero from "./_components/hero.astro";
import BelowHero from "./_components/below_hero.astro";
import RFPCallToAction from "./_components/rfp_call_to_action/index.astro";
import HowWeHelp from "./_components/how_we_help/index.astro";
import WhoWeHelp from "./_components/who_we_help/index.astro";
import OurCustomers from "./_components/our_customers/index.astro";

const homePage =
  await contentfulClient.withoutUnresolvableLinks.getEntries<TypeHomePageSkeleton>(
    {
      content_type: "homePage",
      include: 3
    },
  );
const homeFields = homePage.items[0].fields;
---

<MainLayout title="Home - Boules Consulting">
  <main>
    <Hero banner={homeFields.homeBanner} />
    <BelowHero belowHero={homeFields.belowHero} />
    <RFPCallToAction />
    <HowWeHelp />
    <WhoWeHelp />
    <OurCustomers images={homeFields.carouselImages?.fields.images} />
  </main>
</MainLayout>
