---
import "@/styles/globals.css";
import MainLayout from "@/components/layouts/main-layout.astro";
import { contentfulClient } from "@/lib/contentful";
import type {
  TypeBlogPostSkeleton,
  TypeInTheNewsSkeleton,
} from "@/types/contentful";
import ResourcesTitle from './_components/title.astro'

const blogPosts =
  await contentfulClient.withoutUnresolvableLinks.getEntries<TypeBlogPostSkeleton>(
    {
      content_type: "blogPost",
      limit: 3,
    },
  );

const newsSnippets = 
  await contentfulClient.withoutUnresolvableLinks.getEntries<TypeInTheNewsSkeleton>({
    content_type: "inTheNews",
    limit: 4,
  });

---

<MainLayout title="Resources - Boules Consulting">
  <main>
    <section class='p-8 max-w-screen-lg m-auto'>
      <ResourcesTitle title='Blog Posts'/>
      <pre class="overflow-clip h-96">
        {JSON.stringify(newsSnippets, null, 2)}
      </pre>
    </section>
    <section class='p-8 max-w-screen-lg m-auto'>
      <ResourcesTitle title='In The News' />
      <pre class="overflow-clip h-96">
        {JSON.stringify(blogPosts, null, 2)}
      </pre>
    </section>
  </main>
</MainLayout>
