---
import "@/styles/globals.css";
import MainLayout from "@/components/layouts/main-layout.astro";
import { contentfulClient } from "@/lib/contentful";
import type {
  TypeBlogPostSkeleton,
  TypeInTheNewsSkeleton,
} from "@/types/contentful";
import ResourcesTitle from "./_components/title.astro";
import { ArrowRight } from "lucide-react";
import BlogCard from "./_components/blog_card.astro";

const blogPosts =
  await contentfulClient.withoutUnresolvableLinks.getEntries<TypeBlogPostSkeleton>(
    {
      content_type: "blogPost",
      limit: 4,
    },
  );

const newsSnippets =
  await contentfulClient.withoutUnresolvableLinks.getEntries<TypeInTheNewsSkeleton>(
    {
      content_type: "inTheNews",
      limit: 4,
    },
  );
---

<MainLayout title="Resources - Boules Consulting">
  <main>
    <section class="p-4 md:p-8 max-w-screen-lg m-auto">
      <ResourcesTitle title="Blog Posts" />
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {blogPosts.items.map((post) => <BlogCard post={post} />)}
      </div>
      <a
        href="/resources/blog"
        class="pt-8 justify-end gap-4 hover:scale-[1.03] transition-all inline-flex w-full text-primary font-semibold"
      >
        View All Blog Posts
        <ArrowRight />
      </a>
    </section>
    <section class="p-8 max-w-screen-lg m-auto">
      <ResourcesTitle title="In The News" />
      <pre
        class="overflow-clip h-96">
        {JSON.stringify(newsSnippets, null, 2)}
      </pre>
    </section>
  </main>
</MainLayout>
