---
import "@/styles/globals.css";
import MainLayout from "@/components/layouts/main-layout.astro";
---

<MainLayout title="Resources - Boules Consulting">
  <main>
    <p>Resources</p>
  </main>
</MainLayout>
