---
import type { Entry } from "contentful";
import type { TypeInTheNewsSkeleton } from "@/types/contentful";
import { Image } from "astro:assets";

interface Props {
  newsItem: Entry<TypeInTheNewsSkeleton, "WITHOUT_UNRESOLVABLE_LINKS", string>;
}

const { newsItem } = Astro.props;
---

<a
  href={newsItem.fields.link}
  class="block break-inside-avoid-column cursor-pointer shadow flex-1 border border-border rounded bg-background/10 backdrop-blur-sm overflow-clip hover:scale-[1.02] transition-all"
>
  <Image
    alt={newsItem.fields.image?.fields.title ?? ""}
    src={newsItem.fields.image?.fields.file?.url ?? ""}
    width={800}
    height={800}
  />
  <div class="p-2">
    <h3 class="text-primary font-medium text-lg">
      {newsItem.fields.title}
    </h3>
    <div class="w-7/12 h-[1px] bg-border my-2"></div>
    <p class="font-light text-sm mt-4">
      {newsItem.fields.description}
    </p>
  </div>
</a>
